.profile__subline {
  grid-area: profile__subline;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 935px) {
  .profile__subline {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
}