.profile__edit-btn {
  box-sizing: border-box;
  margin: 0;
  padding: 6px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../../../images/edit-btn.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  vertical-align: middle;
  grid-area: profile__edit-btn;
}

.profile__edit-btn:hover{
  opacity: .6;
}

@media screen and (max-width: 635px) {
  .profile__edit-btn{
    width: 18px;
    height: 18px;
    position: absolute;
    right:19px;
    top:8px;
  }
}