.element__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 19px;
  height: 18px;
  border: 0;
  background-image: url(../../../images/delete_icon.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .5s linear;
  cursor: pointer;
}

.element__delete:hover {
  opacity: .5;
}
